.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(1, 1, 1);
    color: white;
    height: 90px;
}
.header_title{
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 20px;
}
.header_logo{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
}
.header_time{
    cursor:default;
}




@media all and (max-width: 768px) {
    .bookticket_page .frombtn h6{
        font-size: 20px;
        margin-bottom: 30px;
    }
}